body {
	font-family: Roboto, sans-serif;
}
.main {
	max-width: 780px;
	margin-top: 40px;
}

.header h1 {
	font-weight: bold;
	font-size: 40px;
}

.header a {
	text-decoration: none;
	color: #000;
}

.main .navbar-nav li {
	display: inline-block;
}

.main .navbar-nav li a {
	color: #000;
	font-size: 24px;
	font-weight: 400;
	display: inline;
}

.main .navbar-brand {
	display: none;
}

.main .navbar-nav li:not(:last-child)::after{
	content: "  |  ";
	font-size: 24px;
	color: #ccc;
}

.alert {
	border: none;
	border-radius: 20px;
	margin-top: 20px; 
	padding: 28px;
	font-size: 18px;
	color: #000;
}

.bg-default {
	background-color: rgb(177, 247, 236);
}

.bg-none {
	background-color: none;
}

.bg-green {
	background-color: #dff0d8;
   border-color: #d0e9c6;
}

.bg-red {
	background-color: #f2dede;
  border-color: #ebcccc;
}

.bg-yellow {
	background-color: #fcf8e3;
  border-color: #faf2cc;
}

.bg-blue {
	background-color: #d9edf7;
  border-color: #bcdff1;
}

.list ul {
	list-style-type: none; 
	padding-left: 0px;
}

.list ul>li {
	padding: 14px 0;
}

.list ul>li:not(:last-child) { 
	border-bottom: 1px solid #eee;
}

.people .detail p {
	margin-bottom: 0;
}

.footer{
	margin-top: 40px;
	margin-bottom: 40px;
}
.list li.nav-item.active {
	font-weight: 800;
}

.hidden {
    display: none;
}
.unhidden {
    display: block;
}

@media (max-width: 990px) {
	.main .navbar-nav li:not(:last-child)::after{
		content: "";
		font-size: 24px;
		color: #ccc;
	}

	.main .navbar-brand{
		display: inline-block;
		font-size: 26px;
		font-weight: 600px;
	}
}
