body {
	font-family: Roboto, sans-serif;
}
.main {
	max-width: 780px;
	margin-top: 40px;
}

.header h1 {
	font-weight: bold;
	font-size: 40px;
}

.main .navbar-nav li {
	display: inline-block;
}

.main .navbar-nav li a {
	color: #000;
	font-size: 24px;
	font-weight: 400;
	display: inline;
}

.main .navbar-brand {
	display: none;
}

.main .navbar-nav li:not(:last-child)::after{
	content: "  |  ";
	font-size: 24px;
	color: #ccc;
}

.info {
	background-color: rgb(177, 247, 236);
	color: #000;
	border: none;
	border-radius: 20px;
	margin-top: 20px; 
	padding: 28px;
	font-size: 18px;
}

.list ul {
	list-style-type: none; 
	padding-left: 0px;
}

.list ul>li {
	padding: 14px 0;
}

.list ul>li:not(:last-child) { 
	border-bottom: 1px solid #eee;
}

.footer{
	margin-top: 40px;
	margin-bottom: 40px;
}
.list li.nav-item.active {
	font-weight: 800;
}

@media (max-width: 990px) {
	.main .navbar-nav li:not(:last-child)::after{
		content: "";
		font-size: 24px;
		color: #ccc;
	}

	.main .navbar-brand{
		display: inline-block;
		font-size: 26px;
		font-weight: 600px;
	}
}
